## load data from s3 with pandas

In [1]:
import pandas

In [2]:
df = pandas.read_excel("s3://buckethead252/Diamonds.xls") 

df[:10]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641
5     6    0.31     E     VS1   GIA   1555
6     7    0.31     F     VS1   GIA   1427
7     8    0.31     G    VVS2   GIA   1427
8     9    0.31     H     VS2   GIA   1126
9    10    0.31     I     VS1   GIA   1126

In [3]:
df.describe()

             IDNO      WEIGHT         PRICE
count  308.000000  308.000000    308.000000
mean   154.500000    0.630909   5019.483766
std     89.056162    0.277183   3403.115715
min      1.000000    0.180000    638.000000
25%     77.750000    0.350000   1625.000000
50%    154.500000    0.620000   4215.000000
75%    231.250000    0.850000   7446.000000
max    308.000000    1.100000  16008.000000

In [4]:
df["WEIGHT"]

0      0.30
1      0.30
2      0.30
3      0.30
4      0.31
5      0.31
6      0.31
7      0.31
8      0.31
9      0.31
10     0.32
11     0.32
12     0.33
13     0.33
14     0.34
15     0.34
16     0.34
17     0.34
18     0.34
19     0.34
20     0.35
21     0.35
22     0.35
23     0.35
24     0.36
25     0.36
26     0.37
27     0.37
28     0.40
29     0.40
       ...
278    1.00
279    1.00
280    1.00
281    1.00
282    1.00
283    1.00
284    1.00
285    1.00
286    1.00
287    1.00
288    1.00
289    1.00
290    1.00
291    1.00
292    1.00
293    1.01
294    1.01
295    1.01
296    1.01
297    1.01
298    1.01
299    1.01
300    1.01
301    1.01
302    1.01
303    1.01
304    1.02
305    1.06
306    1.02
307    1.09
Name: WEIGHT, Length: 308, dtype: float64

In [5]:
df["COLOR"]

0      D
1      E
2      G
3      G
4      D
5      E
6      F
7      G
8      H
9      I
10     F
11     G
12     E
13     I
14     E
15     F
16     G
17     G
18     H
19     H
20     E
21     F
22     G
23     H
24     F
25     H
26     F
27     H
28     F
29     H
      ..
278    E
279    E
280    E
281    F
282    F
283    G
284    G
285    G
286    H
287    H
288    H
289    I
290    I
291    I
292    I
293    D
294    E
295    E
296    F
297    F
298    G
299    G
300    H
301    H
302    I
303    I
304    F
305    H
306    H
307    I
Name: COLOR, Length: 308, dtype: object

In [6]:
df[:2]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1     0.3     D     VS2   GIA   1302
1     2     0.3     E     VS1   GIA   1510

In [7]:
df[1:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [10]:
df.loc[df["PRICE"] >10000]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
115   116    1.00     D    VVS1   GIA  15582
116   117    1.00     D     VS1   GIA  11419
117   118    1.00     E     VS1   GIA  10588
119   120    1.00     F      IF   GIA  13913
120   121    1.00     F    VVS2   GIA  10588
121   122    1.00     F     VS1   GIA  10713
130   131    1.01     D    VVS1   GIA  16008
131   132    1.01     E     VS1   GIA  10692
133   134    1.01     F     VS1   GIA  10272
140   141    1.02     F     VS1   GIA  10372
142   143    1.02     G    VVS2   GIA  10090
143   144    1.03     E     VS1   GIA  10900
144   145    1.04     F     VS1   GIA  10571
277   278    1.00     D    VVS2   HRD  13775
278   279    1.00     E    VVS1   HRD  14051
279   280    1.00     E    VVS2   HRD  11419
280   281    1.00     E     VS1   HRD  10588
281   282    1.00     F    VVS1   HRD  11696
282   283    1.00     F    VVS2   HRD  10588
283   284    1.00     G    VVS1   HRD  10450
293   294    1.01     D    VVS2   HRD  13909
294   295    1.01     E    VVS2   HRD  11531
295   296    1.01     E     VS1   HRD  10692
296   297    1.01     F    VVS1   HRD  11811
297   298    1.01     F     VS1   HRD  10272
304   305    1.02     F    VVS2   HRD  10796

In [12]:
df["CLARITY"].value_counts()

VS1     81
VVS2    78
VS2     53
VVS1    52
IF      44
Name: CLARITY, dtype: int64

In [13]:
df["RATER"].value_counts()

GIA    151
HRD     79
IGI     78
Name: RATER, dtype: int64

In [14]:
df["COLOR"].count()

308

In [15]:
df["PRICE"].mean()

5019.483766233766

In [16]:
df["PRICE"].sem()

193.91051432086505

In [17]:
df.groupby("COLOR").mean()

             IDNO    WEIGHT        PRICE
COLOR
D      128.812500  0.638125  7099.875000
E      140.590909  0.623182  5507.931818
F      149.012195  0.592927  4786.402439
G      159.492308  0.580769  4426.184615
H      165.704918  0.673443  4965.016393
I      166.125000  0.731000  5175.025000

In [18]:
df.groupby("RATER").max()

       IDNO  WEIGHT COLOR CLARITY  PRICE
RATER
GIA     151    1.10     I    VVS2  16008
HRD     308    1.09     I    VVS2  14051
IGI     229    1.01     I    VVS2   9713

In [19]:
df.groupby("RATER").max()["PRICE"]

RATER
GIA    16008
HRD    14051
IGI     9713
Name: PRICE, dtype: int64

In [20]:
max_price_per_rater= df.groupby("RATER").max()["PRICE"]
max_price_per_rater

RATER
GIA    16008
HRD    14051
IGI     9713
Name: PRICE, dtype: int64

In [21]:
df["unit_price"]= df["PRICE"]/df["WEIGHT"]
df[:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE   unit_price
0     1    0.30     D     VS2   GIA   1302  4340.000000
1     2    0.30     E     VS1   GIA   1510  5033.333333
2     3    0.30     G    VVS1   GIA   1510  5033.333333
3     4    0.30     G     VS1   GIA   1260  4200.000000
4     5    0.31     D     VS1   GIA   1641  5293.548387

## linear regression

In [22]:
from scipy import stats

In [25]:
result = stats.linregress(df['WEIGHT'],df["PRICE"])

In [28]:
print("slope is {}".format(result.slope))
print("intercept is {}".format(result.intercept))
print("r square is{}".format(result.rvalue * result.rvalue))
print("p value is {}".format(result.pvalue))
print("std error is {}".format(result.stderr))

slope is 11598.884012882309
intercept is -2298.3576018937993
r square is0.8925083858672289
p value is 3.0448096265906994e-150
std error is 230.1106037406023

In [30]:
print('p of {} w is ${}'.format(0.9,0.9*result.slope + result.intercept))

p of 0.9 w is $8140.638009700279

## Sentiment Analysis

In [31]:
!pip install textblob

Collecting textblob
  Downloading https://files.pythonhosted.org/packages/60/f0/1d9bfcc8ee6b83472ec571406bd0dd51c0e6330ff1a51b2d29861d389e85/textblob-0.15.3-py2.py3-none-any.whl (636kB)
    100% |████████████████████████████████| 645kB 10.4MB/s ta 0:00:01
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from textblob) (3.3)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk>=3.1->textblob) (1.11.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3
You are using pip version 10.0.1, however version 20.2b1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [32]:
from textblob import TextBlob

In [34]:
result = TextBlob ('I love dogs')

In [36]:
print("polarity {}". format(result.sentiment.polarity))
print("subjectivity {}".format(result.sentiment.subjectivity))

polarity 0.5
subjectivity 0.6